.row {
  position: relative;
}

#hustlelevel {
  width: 80px;
  margin-left: 20px;
  border-radius: 50px;
  background-color: #febe40;
  color: #616161;
  text-align: center;
  font-weight: bold;
  font-size: 0.75 em;
}