

.hero-body {
    padding: 30px !important;
}

.unlock-header {
    display: block;
    font-family: Shumi;
    text-align: center;
    font-size: 2rem;
}

.cost {
    display: block;
    text-align: center;
    font-size: 2rem;
}

.unlock {
    display: block;
    margin: 0 auto !important;
    text-align: center;
    background-color: #FEBE40 !important;
    border-bottom: #D39C3C solid 5px !important;
}

.squeegee-container {
    /* position: relative; */
        margin: 20px auto;
        border-radius: 25px;
        width: 600px;
        /* height: 224px; */
}