.hustle-container {
    margin: 20px !important;
    border-radius: 25px;
    width: 600px;
}

.hustle-img {
    height: 180px;
}

.multiplier {
    display: block;
    font-weight: bold;
    text-align: right;
    top: 0;
}

.hustle-name {
    display: block;
    font-family: Shumi;
    font-size: 2em;
    text-align: left;
}

.money-button {
    width: 150px;
    height: 40px;
    overflow: hidden;
    background-color: #dc224a;
    border-radius: 8px;
    border-style: solid;
    border-color: #950f2c;
    border-top-width: 0px;
    border-bottom-width: 3px;
    border-left-width: 0px;
    border-right-width: 0px;
  }

  .coin {
      
    width: 25px;
    height: 25px;
    margin: 5px 40%;
  }



