#level-button { 
  width: 150px;
  height: 40px;
  overflow: hidden;
  background-color: #ffcc33;
  border-radius: 8px;
  border-style: solid;
  border-color: #fe9924;
  border-top-width: 0px;
  border-bottom-width: 3px;
  border-left-width: 0px;
  border-right-width: 0px;
}
